body {
  padding-top:100px;
}

body header {
  padding-bottom: 0px;
}

body main {
  padding-top: 0px;
}


kbd {
  background-color: transparent;
  color:inherit;
}

.center {
  text-align: center;
}

.diagram {
  margin: auto;
}

article {
}

#pages-container article header {
  padding-top:120px;
}

@media (max-width: 991px){
  .diagram {
    transform: rotate(90deg);
    margin:30px auto;
  }
}
header.top-header {
  position: fixed;
  top:0;
  background-color: #EFD1A2;
  padding-top:10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 4px 16px 8px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 4px 16px 8px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 16px 8px rgba(0,0,0,0.1);
}

div.top {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
hgroup {
  margin-bottom: 0;
}
hgroup *, .include-item, #collection tr {
  cursor: pointer;
}

.header-image {
  max-width: 50%;
  max-height: 180px;
}

header.top nav {
  margin-left: auto;
}


ul#pages {
  left:auto;
}

.subpage-menu {
  display: block;
}

.subpage-menu li {
  display: block;
}
figure.hero {
  display:none
  ;
}

.hero figcaption {
  text-align: right;
}

#pages-container, #collection {
  display: none;
}

#pages-container article {
  display: none;
}

#pages-container article:nth-child(1) {
  display:block;
}

.parentLink {
  float:right;
}

#pages-container figure img {
  max-height: 500px;
}

#pages-container footer {
  display: flex;
}
button.page-nav {
  width: 25%;
}
button.previous-page {

}
button.next-page {
  margin-left: auto;
}


.show-all {
  width: 25%;
  float: right;
}

.advanced {
  margin:1%;
}

.dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: left;
  margin: 0.5%;
  width:99%;
}

#items thead {
  display:none;
}

#items tbody {
  display: flex;
  flex-wrap: wrap;

}
#items tr {
  flex-basis:48%;
  flex-wrap: wrap;
  margin:1%;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  padding: 10px;
  border-radius: 4px;
}

#items td {
  display: block;
  background-color: #ffffff;
  border: 0px;
}

#items td.thumbnail {
  max-width: 150px;
}
.dataTables_info {
  padding:20px;
}

.dataTables_paginate {
}

.dataTables_paginate, .dataTables_paginate span {
  display: flex;
}
.dataTables_paginate a, .dataTables_paginate span a{
  padding:20px;
  text-align: center;
}
